body {
  background-image: url("https://landing.adobe.com/dam/2017/images/374113-edu-resume-template.marquee-background-image.1440x888.jpg");
  background-color: black;
  color: black;
  font-family: Arial, Helvetic, sans-serif;
  margin: 10% 10%;
  padding-left: 0px;
}
.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 10px solid red;
  border-bottom: 10px solid purple;
  background-color: rgba(0,0,0, 0.1);
}
div {
  border: 5px solid orange;
  padding-left: 10px;
}
h1 {
  color: green;
}
.office {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 75%;
}
.bluejay {
  width: 25%;
  padding-left: 0px;
  margin-left: 100px;
  float: right;
}
table, th, td {
  border: 1px solid black;
    border-collapse: collapse;
  text-align: left;
  
}
footer {
  color: orange;
  background-color: black;
  text-align: center;
}
}
